body {
    color: white;
    background: rgb(28,10,46);
    background: linear-gradient(90deg, rgba(28,10,46,1) 20%, rgba(96,85,90,1) 50%, rgba(46,8,27,1) 70%, rgba(36,9,8,1) 100%);
    font-family: 'Bungee Hairline';
}

.hidden {
    display: none;
}

#main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84vh;
    margin-top: 2%;
    margin-left: 2%;
}

/* canvas */

#canvas {
    background-image: url(./images/game-background.jpeg);
    background-size: cover;
    width: 90%;
}

#game-board {
    display: none;
    width: 70%;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 40px;
}

/* letf section */

#left-side {
    width: 20%;
    height: 60%;
    padding: 6% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
} 

h1 {
    font-size: 1.5vw;
    font-weight: 900;
    font-family: 'Press Start 2P';
    letter-spacing: 2px; 
}

h2 {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.8vw;
}

/* central div  */

#game-intro {
    background-image: url(./images/final-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
    height: 105%;
    align-items: center;
    padding-left: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2%;
}

.button {
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P';
    padding: 15px 10px;
    animation-fill-mode: backwards;
    font-size: 1.3vw;
}

#start-button {
    margin-bottom: 5%;
    border: 1px solid;
}

.button:hover {
    background-color: rgba(46, 8, 28);
    color: rgba(202, 178, 178);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* right div */

#right_side {
    width: 20%;
    height: 60%;
    padding: 6% 2%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-right: 2%;
}

#stopwatch {
    font-family: 'Press Start 2P';
    font-size: 3.5vh;
}


#sound {
    display: flex;
    width: 1.5px;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 15%;
    padding-left: 8%;
}

#sound a{
    display: flex;
    width: 2px;
}

#sound a img{
    height: 50px;
    position: relative;
    transition: transform .3s;
}

#sound a img:hover{
    transform: scale(1.2);
}

#sound-on{
    display: flex;
    width: 2px;
    
}
#sound-off {
    display: flex;
    width: 2px;
}

.hide {
    display: none;
}

#spacebar {
    width: 12vw;
    margin-left: 19%;
}

#instructions-container {
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    flex-direction: row;

}

.number-key {
    width: 5vw;
    align-self: center;
    margin: 8px
}

/*Modal Game Over */

.modal {
    display: none; 
    position: fixed; 
    z-index: 8; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content1 {
    margin-top: 14%;
    padding: 5px;
    width: 80%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
#game-over-message {
    font-family: 'Press Start 2P';
    font-size: 3.5vw;
    font-weight: 900;
    font-weight: 700;
}

#dead-players-message {
    font-size: 1.4vw;
    font-family: 'Press Start 2P';
    color: white;
}

.start-again-button {
    background-color: rgba(0,0,0,0.2); 
    margin-top: 1.5%;
    color: #76CBEA; /*cambiar más claro*/
    font-size: 1.5vw;
    line-height: 4vh;
    font-weight: 900;
    font-family: 'Press Start 2P';
    width: 12vw;
    height: 10vh;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
    border: 1px solid rgba(46, 8, 28);
}
  
.start-again-button:hover,
.start-again-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Modal Game winner */

#win-modal {
    background-color: rgba(0,0,0,0.7); 
}

#congratulations {
    color: #32AF1C;
    font-size: 2.8vw;
    font-weight: 900;
    font-family: 'Press Start 2P';
    letter-spacing: 2px; 
}          


.modal-content2 {
    margin-top: 1%; 
    margin: 6vh;
    margin-top: 8%; 
    padding: 1%;
    width: 80%; 
    display: flex;
    align-items: center;
    flex-direction: column;  
}

#piggy-img {
    width: 25vw;
}

#saved-msg {
    padding: 0;
    margin: 10px;
    font-size: 2.2vw;
}

#footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    height: 8vh;
    margin-right: 10%;
    position: sticky;
}
.links {
    width: 3.5vw;
    margin-left: 20px;
   
}

@media (min-width: 1100px) and (max-width: 2000px) {
    #game-intro{
        width: 40%;
    }
    h1 {
        font-size: 1.5vw;
    }
    h2 {
        font-size: 1.4vw;
    }
    .button {
        font-size: 1.5vw;
    }
    #spacebar {
        width: 12vw;
    }
    .number-key {
        width: 4.8vw;
    }
    #game-over-message {
        font-size: 2.9vw;
    }
    #dead-players-message {
        font-size: 1vw;
        font-family: 'Press Start 2P';
        color: white;
    }
    .start-again-button {
        font-size: 1.1vw;
        line-height: 3vh;
        width: 10vw;
        margin-top: 4%;
    }
    #congratulations {
        font-size: 2.5vw;
    }          
    
    #piggy-img {
        width: 20vw;
    }
    #canvas {
        width: 97%;
    }

    #game-board {
        width: 65vw;
        margin-right: 4%;
    }
    #footer {
        margin-right: 12%;
        position: sticky;
    }
    .links {
        width: 6vh;
    }
    #right_side {
        margin-right: 4%;
    }

}

@media (max-width: 1100px){
#stopwatch {
    font-size: 2vh;
}
}

@media only screen and (max-width: 1024px){
    html {
        background-color: white;
    }

    body {
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .hidden {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .hidden .title {
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 30px;
        text-align: center;
        font-weight: 800;
    }
    .hidden p {
        font-size: 1.3rem;
        margin-left: 2%;
    }

    #main_div {
        display: none;
    }
    #footer {
        display: none;
    }
}